@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

// Colors:
// rgb(255,255,255)
// rgb(0,0,0)
// rgba(0,0,0,0.5)
// rgba(0,0,0,0.24)
// rgb(22, 34, 42)
// rgb(58, 96, 115)


//Fonts:
// Bitter
// FontAwesome

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter";
}

$max-width: 80em;

.image {
  width: 400px;
  background-size: cover;
  height: 450px;
  padding-top: 50px;
  padding-right: 20px;
 
}

.header {
  background: linear-gradient(to right, #3A6073, #16222A);
  height: 12em;
  justify-content: center;
  align-items: center;
  display:flex;
  
}
#vue {
  display: flex;
  align-items: center;
  margin-left:50px;
  
}
.selections div {
  display:inline-block;
  
  
}
h1 {
  text-align: center;
  color: #ffff;
  
}
h2 {
  text-align: center;
  padding-top: 20px;
 
}
.name {
  text-align: center;
  line-height: 1.5em;
  font-weight: bold;
}
.content {
  text-align: center;
  line-height: 1.5em;
}
button {
  margin-left:160px;
}
.main-wrapper {
  
}